# PostgreSQL
DB_HOST=postgres
DB_NAME=codehelper
DB_USER=codehelper
DB_PASSWORD=codehelper123
DB_PORT=5432

# HuggingFace
HF_TOKEN=your_huggingface_token_here

# MCP Filesystem
MCP_FS_ROOT=/app/projects

# Docker Compose
# REPO_PATH deve apontar para a raiz do repositório Git que será indexado.
# Exemplo: ./projects/dockerswarm-vagrant-local
REPO_PATH=./projects/dockerswarm-vagrant-local
PROJECT_NAME=dockerswarm-vagrant-local
